@using System.Security.Claims

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        var identity = User.Identity as ClaimsIdentity;
        string name = identity.Claims.FirstOrDefault(c => c.Type == "name")?.Value;

        <li class="nav-item">
            <span class="navbar-text text-dark">Olá @name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Log out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Log in</a>
        </li>
    }
</ul>
