@model IEnumerable<e_shop.Client.Models.Produto>

@{
    ViewData["Title"] = "e-Shop - Cadastro de Produtos";
}

<div class="container">
    <br>
    <div class="row justify-content-center">
        <h1 class="h1">Cadastro de Produtos e-Shop!</h1>
    </div>
    <br><br>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row justify-content-center">
            <a type="button" class="btn btn-primary" asp-area="" asp-controller="Produtos" asp-action="Create">Adicionar novo</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a type="button" class="btn btn-success" asp-area="" asp-controller="Produtos" asp-action="List">Lista de produtos</a>
        </div>
    }
    <br><br><br>
    <div class="row row-cols-2 row-cols-lg-3">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImagemUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                            @item.Nome<br />
                            @item.Descricao
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

